@font-face{

font-family: ElProfe;

src:url("../fonts/ElProfe-Regular.ttf");

}

body{

font-family:Arial;

margin:40px;

}

.fuente{

font-family:ElProfe;

font-size:55px;

border:1px solid gray;

padding:15px;

min-height:80px;

margin-top:15px;

}

button{

padding:10px 20px;

margin-top:10px;

margin-right:10px;

}

#paleta{

display:grid;

grid-template-columns:repeat(6,70px);

gap:10px;

margin-top:20px;

}

.simbolo{

font-family:ElProfe;

font-size:40px;

border:1px solid gray;

cursor:pointer;

padding:10px;

text-align:center;

}